@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;

}

/* Variables de color */
:root {
    /* Colores principales */
    --primary-color: #1A237E; /* Azul oscuro */
    --secondary-color: #3F51B5; /* Azul claro */
    --accent-color: #FF6D00; /* Naranja */
    --text-color: #FFFFFF; /* Blanco */
    --secondary-text-color: #343434; /* Negro */
    --element-text-color: #797979; /* Gris claro */
    --background-color: #212121; /* Negro */
    --secondary-background-color: #ECEFF1; /* Gris claro */
    --element-background-color: #333333; /* Fondo de elementos */

    /* Colores para hover */
    --primary-hover: #0D1B5C; /* Azul oscuro más oscuro */
    --secondary-hover: #2C3A91; /* Azul claro más oscuro */
    --accent-hover: #E65A00; /* Naranja más oscuro */

    /* Sombras */
    --shadow-color: rgba(0, 0, 0, 0.5); /* Sombra negra */
    --shadow-primary: rgba(26, 35, 126, 0.5); /* Sombra azul oscuro */
    --shadow-accent: rgba(255, 109, 0, 0.5); /* Sombra naranja */

    /* Colores de borde */
    --border-color: #484848; /* Borde oscuro */
    --border-hover: #606060; /* Borde en hover */
}

